.home-container {
    display: flex;
    height: 100%;
    min-height: 100vh;
    color: white;
  }
  
  /* Sidebar styles */
  .sidebar {
    width: 300px;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-right: 1px solid #444;
    box-sizing: border-box;
  }
  
  .sidebar h2 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #00e0ff;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    color: #ccc;
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    color: #00e0ff;
  }
  
  /* Main content styles */
  .home-main-content {
    flex-grow: 1;
    padding: 40px;
    box-sizing: border-box;
  }
  
  .main-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 18px;
    text-align: center;
    color: grey;
    margin-bottom: 40px;
  }
  
  .section-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
  }
  
  .section-content {
    font-size: 18px;
    color: rgba(42, 198, 209, 0.8);
    line-height: 1.6;
  }
  